<header>
  <nav>
    <ul>
      <li><a href="/admin/brands/new-brand">Add Brand</a></li>
      <li><a href="/admin/categories/new-category">Add Category</a></li>
      <li><a href="/admin/products/new-product">Add Product</a></li>
    </ul>
  </nav>
</header>