<%- include('./admin-includes/head.ejs') %>
</head>
<body>
  <%- include('./admin-includes/navigator.ejs') %>
  <main>
    <form action="/admin/categories" method="POST">
      <p>
        <label for="name">Category name:</label>
        <input type="text" name="name" id="name">
      </p>
      <label for="configurations">Configurations:</label>
      <p>
        <input type="text" name="configurations" id="configurations" placeholder="configuration name...">
      </p>

      <p id="config-tail">
        <div id="add-config" style="cursor: pointer;">+New configuration</div>
      </p>
      <button type="submit">Add Category</button>
    </form>
  </main>
  <script src="/js/admin/add-category.js"></script>
<%- include('./admin-includes/end.ejs') %>