<%- include('./admin-includes/head.ejs') %>
</head>
<body>
  <%- include('./admin-includes/navigator.ejs') %>
  <main>
    <form action="/admin/brands" method="POST">
      <p>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
      </p>
      <button type="submit">Add Brand</button>
    </form>
  </main>
<%- include('./admin-includes/end.ejs') %>