<!-- Search Area -->
<section class="search" id="search-area">
  <div class="overly" id="search-overly"></div>
  <div class="search__body" id="search-body">
    <button class="close-btn" id="search-close-btn">
      <div class="close-icon"></div>
    </button>
    <form class="search__form" id="search-form" action="#" method="POST">
      <h2 class="font-lg-light">What are you looking for?</h2>
      <p>
        <input class="font-regular-light" type="text" name="search" id="search-input" placeholder="Search products ...">
        <i class="fa-solid fa-magnifying-glass"></i>
      </p>
    </form>
    <div class="search__results">

    </div>
  </div>
</section>

<!-- Cart -->
<section class="header-cart" id="header-cart">
  <div class="overly" id="header-cart-overly"></div>
  <div class="header-cart-wrapper">
    <div class="header-cart__head">
      <h2 class="header-cart__title">
        SHOPPING CART(0)
      </h2>
      <button class="close-btn close-btn--header-cart" id="header-cart-close-btn">
        <div class="close-icon"></div>
      </button>
    </div>
    <div class="header-cart__body">
      <h3 class="font-lg-light">Your cart is currently empty.</h3>
    </div>
  </div>
</section>