<%- include('./includes/head.ejs') %>
</head>
<body>
  <%- include('./includes/navigator.ejs') %>

  <main>
    <%- include('./includes/main.ejs') %>
  </main>

  <%- include('./includes/end.ejs') %>
